body {
    margin: 0px;
    padding: 0px;
}

#header {
    border-bottom-style: solid;
    border-bottom-color: black;
    background-color: black;
    display: flex;
    justify-content: space-around;
}

#title {
    margin-top: 0px;
    padding-top: 1%;
    color: white;
    justify-content: flex-start;
    size: 15%;
}

.headerLink {
    color: white;
    display: flex;
    align-items: center;
    size: 15%;
}
